# Configurações do Banco de Dados (PostgreSQL/Supabase)
DATABASE_URL=postgresql://usuario:senha@host:porta/nome_do_banco

# Configurações individuais do PostgreSQL (Supabase)
POSTGRES_DATABASE=postgres
POSTGRES_USER=postgres.xeodkrcoekfsonnwcuag
POSTGRES_PASSWORD=Zl6BfAU366Cu9Zoa
POSTGRES_HOST=db.xeodkrcoekfsonnwcuag.supabase.co
POSTGRES_PORT=5432

# Chave Secreta do Django (gerar uma nova para produção)
SECRET_KEY=sua-chave-secreta-aqui

# Configurações de Debug
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Configurações adicionais (se necessário)
# EMAIL_HOST_USER=seu-email@example.com
# EMAIL_HOST_PASSWORD=sua-senha
