# .env - Variáveis de ambiente para desenvolvimento
SECRET_KEY=django-insecure-dev-key-change-in-production-abc123xyz
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Banco de dados (PostgreSQL)
DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=Zl6BfAU366Cu9Zoa
DB_HOST=db.xeodkrcoekfsonnwcuag.supabase.co
DB_PORT=6543
DATABASE_URL=postgres://postgres.xeodkrcoekfsonnwcuag:Zl6BfAU366Cu9Zoa@aws-0-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x

# Para usar SQLite localmente (descomente para usar)
# USE_SQLITE=True
